
{% if children.type != 'moduleForm' and children.type != 'moduleTable' %}

    <div class="{{children.type}}{{children.sizeClass}} {{children.additionnalClasses}}">
        <span class="div-info">
            div.{{children.type}}{{children.sizeClass}}{{ children.additionnalClasses is not empty ? '.'~ (children.additionnalClasses|replace({' ':'.'})) : '' }}
            {% include 'page/edit_html_element_btn.html.twig' %}
            {% include 'page/delete_html_element_btn.html.twig' %}
        </span>
        
        {% for children in children.children %}
            {% include 'page/html_element_preview.html.twig' %}
        {% endfor %}

        {% include 'page/new_html_element_btn.html.twig' %}

    </div>

{% elseif children.type == 'moduleForm' %}

    <div class="module-form">
        {% set form = children.moduleForm %}
        <span class="div-info">
            Form {{ children.additionnalClasses is not empty ? '.'~ (children.additionnalClasses|replace({' ':'.'})) : '' }} {{form.title}} 
            {% include 'page/edit_html_element_btn.html.twig' %}
            {% include 'page/delete_html_element_btn.html.twig' %}
        </span>
        {% include 'form/form.html.twig' %}
    </div>

{% elseif children.type == 'moduleTable' %}

    <div class="module-table">
        {% set table = children.moduleTable %}
        <span class="div-info">
            Table {{ children.additionnalClasses is not empty ? '.'~ (children.additionnalClasses|replace({' ':'.'})) : '' }} {{table.title}} 
            {% include 'page/edit_html_element_btn.html.twig' %}
            {% include 'page/delete_html_element_btn.html.twig' %}
        </span>
        {% include 'table/table.html.twig' %}
    </div>

{% endif %}
