
{% if children.type != 'moduleForm' and children.type != 'moduleTable' %}

    <div class="{{children.type}}{{children.sizeClass}} {{children.additionnalClasses}}">
        {% for children in children.children %}
            {% include 'page/html_element_view.html.twig' %}
        {% endfor %}
    </div>

{% elseif children.type == 'moduleForm' %}

    <div class="{{ children.additionnalClasses }}">
        {% set form = children.moduleForm %}
        {% include 'form/form.html.twig' %}
    </div>

{% elseif children.type == 'moduleTable' %}

    <div class="{{ children.additionnalClasses }}">
        {% set table = children.moduleTable %}
        {% include 'table/table.html.twig' %}
    </div>

{% endif %}
