{% if table.filters|length > 0 %}
    <tr>
        <td class="ps-3">
            <a class="btn btn-sm btn-primary"         
                data-controller="table"
                data-url="{{ path('app_application_table_reload', {'id':table.id}) }}"
                data-action="click->table#applyFilters"
                data-table-page-value="{{table.currentPage}}"
                data-table="{{table.module.sqlTable}}"
            >Filter</a>
            {% if table.currentFilters|length > 0 %}
                <a class="btn btn-sm btn-danger"         
                    data-controller="table"
                    data-url="{{ path('app_application_table_reload', {'id':table.id}) }}"
                    data-action="click->table#resetFilters"
                    data-table-page-value="{{table.currentPage}}"
                    data-table="{{table.module.sqlTable}}"
                >Clear</a>
            {% endif %}
        </td>
        {% for column in table.columns %}
            <td class="ps-3">
            {% if column.name in table.filters|map(f => f.name) %}
                {% set currentValue = column.name in table.currentFilters|keys ? table.currentFilters[column.name] : '' %}
                {% if column.type == 'text' %}
                    <input type="text" class="form-control filter-field" name="{{column.name}}" placeholder="{{column.label}}" value="{{currentValue}}">
                {% elseif column.type == 'listing' %}
                    <select class="form-control form-select filter-field" data-placeholder="..." name="{{column.name}}" {{column.multiple ? 'multiple' : ''}}>
                        <option value="">...</option>
                        {% for label, value in column.choices %}
 
                            {% if value|length > 0 %}
                                 {% if currentValue is iterable %}
                                    <option value="{{value}}" {{ value in currentValue ? 'selected' : '' }}>{{label}}</option>
                                {% else %}
                                    <option value="{{value}}" {{ currentValue == value ? 'selected' : '' }}>{{label}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>                  
                {% elseif column.type == 'manytoone' or column.type == 'manytomany' %}
                    <select class="form-control form-select filter-field" name="{{column.name}}">
                        {% for label, value in column.choices %}
                            <option value="{{value}}" {{ currentValue == value ? 'selected' : '' }}>{{label}}</option>
                        {% endfor %}
                    </select>               
                {% endif %}
            {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endif %}
<script>
    $(function(){
            
        $('.form-select.filter-field').select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $(this).hasClass( 'w-100') ? '100%' : 'style',
            minimumResultsForSearch: Infinity,
            selectionCssClass : 'no-search'
        });

    })
</script>
