<div class="card mb-4">
    <div class="card-header pb-0">
        <div class="d-flex justify-content-between align-items-center">
            <h5>{{table.title}} ({{table.total}})</h5>
            <a class="btn btn-md btn-primary addBtn" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_application_add_entity', {'table': table.module.sqlTable}) }}">
                Add a {{table.module.labelSingular|lower}} <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        {% if table.inlineActions is not empty %}
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                        {% endif %}
                        {% for column in table.columns %}
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{ column.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                    {% include '_application/components/_table_filters.html.twig' %}

                    {% for row in table.data %}
                    <tr data-id="{{row.id}}">

                        {% include '_application/components/_table_row_btns.html.twig' %}

                        {% for column in table.columns %}
                            <td class="ps-3">
                                {% if column.type == 'text' %}
                                    {{ row[column.name] }}
                                {% elseif column.type == 'listing' %}
                                    {% if column.multiple %}
                                        {% for value in row[column.name]|json_decode() %}
                                            {% if value in column.selectOptions|keys %}
                                                <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                                    {{ column.selectOptions[value]['label'] }}
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% set values = row[column.name]|json_decode() %}
                                        {% set value = values|length > 0 ? values[0] : '' %}
                                        {% if value in column.selectOptions|keys %}
                                            <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                                {{ column.selectOptions[value]['label'] }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% elseif column.type == 'manytoone' %}
                                    {% set value = row[column.name] %}
                                    {% if value in column.selectOptions|keys %}
                                        <a href="{{ column.selectOptions[value]['detailedViewPath'] }}">{{ column.selectOptions[value]['label'] }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    {% include '_application/components/_table_footer.html.twig' %}

                </tbody>
            </table>
        </div>
    </div>
</div>
