<div class="d-flex justify-content-between align-items-center">
    <h3>{{table.title}} ({{table.total}})</h3>
    <a class="btn btn-md btn-primary addBtn" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_application_add_entity', {'table': table.module.sqlTable}) }}">
        Add a {{table.module.labelSingular|lower}} <i class="fa-solid fa-plus"></i>
    </a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% if table.inlineActions is not empty %}
                    <th>Actions</th>
                {% endif %}
                {% for column in table.columns %}
                    <th>{{ column.label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

            {% include '_application/components/_table_filters.html.twig' %}

            {% for row in table.data %}
            <tr data-id="{{row.id}}">

                {% include '_application/components/_table_row_btns.html.twig' %}

                {% for column in table.columns %}
                    {% if column.type == 'text' %}
                        <td>{{ row[column.name] }}</td>
                    {% elseif column.type == 'listing' %}
                        {% if column.multiple %}
                            <td>
                                {% for value in row[column.name]|json_decode() %}
                                    {% if value in column.selectOptions|keys %}
                                        <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                            {{ column.selectOptions[value]['label'] }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% else %}
                            {% set values = row[column.name]|json_decode() %}
                            {% set value = values|length > 0 ? values[0] : '' %}
                            <td>
                                {% if value in column.selectOptions|keys %}
                                    <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                        {{ column.selectOptions[value]['label'] }}
                                    </span>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% elseif column.type == 'onetomany' %}
                        <td>
                            {% for value in row[column.name]|json_decode() %}
                                {% if value in column.selectOptions|keys %}
                                    <a href="{{ column.selectOptions[value]['detailedViewPath'] }}">{{ column.selectOptions[value]['label'] }}</a>,
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                {% endfor %}

            </tr>
            {% endfor %}

            {% include '_application/components/_table_footer.html.twig' %}

        </tbody>
    </table>
</div>