<thead>
    <tr>
        {% if table.inlineActions is not empty %}
            <th>Actions</th>
        {% endif %}
        {% for column in table.columns %}
            <th>{{ column.label }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for row in table.data %}
    <tr data-id="{{row.id}}">
        {% if table.inlineActions is not empty %}
        <td>
            {% for action in table.inlineActions %}
            {% if action == 'view' and table.module.page.uri is defined %}
                <a class="btn btn-sm btn-success" href="{{ path('app_application_page', {'uri': table.module.page.uri|replace({'/{id}': ''}), 'id':row.id}) }}">
                    <i class="fa-solid fa-eye"></i>
                </a>
            {% endif %}
            {% if action == 'edit' %}
            <a class="btn btn-sm btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_application_edit_entity', {'table': table.module.sqlTable, 'id':row.id}) }}">
                <i class="fa-solid fa-pen"></i>
            </a>
            {% endif %}
            {% if action == 'delete' %}
            <a class="btn btn-sm btn-danger" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_application_delete_entity', {'table': table.module.sqlTable, 'id':row.id}) }}">
                <i class="fa-solid fa-trash"></i>
            </a>
            {% endif %}
            {% endfor %}
        </td>
        {% endif %}
        {% for column in table.columns %}
            {% if column.type == 'text' %}
                <td>{{ row[column.name] }}</td>
            {% elseif column.type == 'listing' %}
                {% if column.multiple %}
                    <td>
                        {% for value in row[column.name]|json_decode() %}
                            {% if value in column.selectOptions|keys %}
                                <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                    {{ column.selectOptions[value]['label'] }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    {% set values = row[column.name]|json_decode() %}
                    {% set value = values|length > 0 ? values[0] : '' %}
                    <td>
                        {% if value in column.selectOptions|keys %}
                            <span class="badge badge-pill {{ column.selectOptions[value]['colorClass'] }} {{ column.selectOptions[value]['bgClass'] }}">
                                {{ column.selectOptions[value]['label'] }}
                            </span>
                        {% endif %}
                    </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    
    <tr>
        <td colspan="{{table.columns|length + 1}}">
           <nav class="nav-pagination d-flex justify-content-between table-footer">
                <ul class="pagination pagination-sm">
                    {% if table.pages > 1 %}
                        {% for i in range(1, table.pages) %}
                            <li class="page-item {{ i == table.currentPage ? 'active' : '' }}">
                                <a 
                                    class="page-link"
                                    data-controller="table"
                                    data-url="{{ path('app_application_table_reload', {'id':table.id}) }}?page={{i}}"
                                    data-table-page-value="{{i}}"
                                    data-action="click->table#paginate"
                                    data-table="{{table.module.sqlTable}}"
                                    data-table-target="{{table.module.sqlTable}}"
                                >{{i}}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="page-limit">
                    <select class="form-select"
                        data-controller="table"
                        data-url="{{ path('app_application_table_reload', {'id':table.id}) }}"
                        data-action="change->table#changelimit"
                        data-table="{{table.module.sqlTable}}"
                        data-table-target="{{table.module.sqlTable}}"
                    >
                        {% for val in [10,25,50,100,250,500] %}
                            <option value="{{ val }}" {{ table.currentLimit == val ? 'selected' : '' }}>{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
            </nav>
        </td>
    </tr>
 
</tbody>