<h2>
    Modules
    <button type="button" class="btn btn-primary" data-controller="modal" data-action="modal#open" data-modal-url-value="{{ path('app_module_add') }}">
        New module
    </button>
</h2>    
<table id="modules-table" class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Label</th>
            <th>Table</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
            <tr data-id="{{ module.id }}">
                <td>
                    <a class="btn btn-sm btn-primary"
                        data-controller="modal"
                        data-action="modal#open"
                        data-modal-url-value="{{ path('app_module_edit', {'id': module.id }) }}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a class="btn btn-sm btn-danger"
                        data-controller="modal"
                        data-action="modal#open"
                        data-modal-url-value="{{ path('app_module_delete', {'id': module.id }) }}"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                <td>{{ module.labelPlural }}</td>
                <td>{{ module.sqlTable }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

