{% if htmlelement.type in ['h1','h2','h3','h4','h5','h6'] %}

    <{{htmlelement.type}} class="{{htmlelement.additionnalClasses}}">
        {{htmlelement.content}}
        <br>
        {% include 'layout/edit_html_element_btn.html.twig' %}
        {% include 'layout/delete_html_element_btn.html.twig' %}
    </{{htmlelement.type}}>

{% elseif htmlelement.type == 'SidebarMenu' %}

        <li class="nav-item d-flex justify-content-between">
            <a class="nav-link {{htmlelement.additionnalClasses}}" href="/{{htmlelement.pagelink.uri}}">
                <span class="nav-link-text ms-1">{{htmlelement.content}}</span>
            </a>
            <span>
                {% include 'layout/edit_html_element_btn.html.twig' %}
                {% include 'layout/delete_html_element_btn.html.twig' %}
            </span>
        </li>
    
{% endif %}
